.about-section {
    position: relative;
    top: 80px;
    padding: 300px 60px 300px 35px;
    border-bottom: 2px solid #dcd8d8d1;
    border-bottom-right-radius: 100%;

}
.about-section > .about-para > div > p {
    font-size: 20px;
    font-weight: 400;
}