
.exs-section {
    position: relative;
    top: 80px;
    padding: 300px 55px 300px 30px;
    border-bottom: 2px solid #dcd8d8d1;
    border-bottom-left-radius: 100%;
}
.exs-section > .about-para > div > p, .skill-name {
    font-size: 20px;
    font-weight: 400;
}
.skills-img-height {
    height: 65px;
    width: 70px;
    margin: 5px;
    transition: 2s;
    padding: 5px;
  }