html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efeff0;
  scroll-behavior: smooth;
  transition: 2s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading-title {
  padding-left: 20px;
  font-size: 40px;
  font-weight: bold;
  border-left: 10px solid black;
}
.heading-title-rtl {
  padding-right: 20px;
  font-size: 40px;
  font-weight: bold;
  border-right: 10px solid black;
}
.rtl {
  direction: rtl;
}

.btn {
  border-radius: 4%;
  border: 1px solid black;
  margin: 4px;
  font-size: 18px;
  font-weight: 600;
  padding: 7px 15px;
  background-color: transparent;
  transition: 800ms;
  cursor: pointer;
}
.btn:hover {
  background-color: black;
  color: white;
}
.anchor-flex {
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: none;
}
.bg-black {
  background-color: black;
  color: white;
}